*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/jokesbackend/build
/jokesbackend/captures
/jokesbackend/.idea/libraries
/jokesbackend/.idea/workspace.xml
/jokesbackend/.gradle
/jokesbackend/.DS_Store
