<?xml version="1.0" encoding="utf-8"?>
<manifest package="net.vectortime.jokedisplay"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".JokeActivity"
            android:label="@string/title_activity_joke_display"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
